* {
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #e5e5e5;
  padding: 0;
  margin: 0;
  background-color: #f3f1ff;
}
.first-section {
  background-color: #562eff;
  margin-bottom: 20px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 15px;
}
.second-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 870px;
    margin: 0 auto;
}
.width-div {
    padding: 34px;
}
.h2 {
  color: white;
}
.nav ul {
  margin: 0;
  padding: 0;
  display: flex;
    align-items: center;
    color: white;
    gap: 20px;
}
.nav ul li {
  list-style: none;
}

.first-h2 {
  color: #562eff;
  margin: 0;
  margin-bottom: 40px;
}
.players {
  width: 56px;
  height: 56px;
}
.first-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  margin-bottom: 30px;
}
.top-player {
  background-color: white;
  border: 10px solid white;
  width: 870px;
  margin: 0 auto;
  border-radius: 10px;
}
hr {
  border: 1.1px solid #d1d1d1;
  margin-bottom: 30px;
}
.second-div h3 {
  font-size: 18px;
}

.second-div {
  display: flex;
  gap: 29px;
}
.div-inage img {
  width: 177px;
  height: 117px;
}
.div-first-parent {
  display: flex;
  gap: 10px;
}

.mega-blog-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.blog-title p {
  color: gray;
}
.blog-title p a {
  color: #562eff;
  text-decoration: none;
}

.last {
  background-color: white;
  border: 10px solid white;
  border-radius: 10px;
  width: 870px;
  margin: 0 auto;
  margin-top: 20px;
}
.img img {
  width: 100%;
}
.box-2 {
  width: 224px;
}

.img-dec a {
  color: #ed6b4f;
  text-decoration: none;
}
.last-coures {
  display: flex;
  justify-content: space-between;
}
.box {
  padding: 13px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 17px 15px 27px -2px rgba(207, 205, 205, 0.54);
  -webkit-box-shadow: 17px 15px 27px -2px rgba(207, 205, 205, 0.54);
  -moz-box-shadow: 17px 15px 27px -2px rgba(207, 205, 205, 0.54);
}
.clock {
  display: flex;
  align-items: center;
  background-color: #fee5df;
  border-radius: 10px;
  width: fit-content;
  padding: 5px;
  gap: 10px;
}
.two p {
  margin: 0;
  font-size: 14.69px;
  color: #ed6b4f;
}
.thire {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img-dec h3 {
  margin-bottom: 5px;
}
.player-img-and-dec-mega{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.blog-parent{
    display: flex;
}
